@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
     /* line-height: 1.6;  */
    background-color: black;
    padding: 0 20px;
}

.header {
    /* background-color: rgb(5, 5, 5); */
    height: 190px;
    /* margin-top: -50px; */

}



.header-sub {
    background-color: rgb(41, 38, 38);
    /* width: 1265px; */
    height: 100px;
    /* margin-top: 80px; */
    border-radius: 5px;
    /* margin-left: 40px; */

}



label {
    display: inline;
    margin: 3px 5px  ;
    line-height: 60px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
    margin-right: 15px;
}

label:hover {
    color: crimson;
}

h1 {
    text-align: center;
    color: white;
    margin: 40px 0 60px 0;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    padding: 20px;
}

h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 300px;
    }

    50% {
        width: 100px;
    }

    100% {
        width: 300px;
    }
}

.h2 {
    background-color: rgb(36, 33, 33);
    position: relative;
    margin-top: 13px;
    border-radius: 5px;
text-align: center;

}
/* 
form {
    display: flex;
   
    justify-content: center;
    align-items: center;
    position: absolute right; */
    /* margin-bottom: 60px; */
    /* margin-left: -80px; */
/* } */

/* .form{
    background-color: rgb(36, 33, 33);
    height: 70px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
} */

form{
    display: inline-block;
    margin-left: 40px;
}


/* search bar */

#search-input {
    /* max-width: 400px; */
    padding: 10px 20px;
    border: none;
    box-shadow: rgb(10, 10, 10);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(59, 50, 50);
    /* margin-top: -45px; */
     position: absolute right ; 
    /* margin-left: 850px; */
}

#search-input:hover {
    box-shadow: black 2px 2px;
}
/* ṣearch button */

#search-button {
    padding: 10px 20px;
    background-color: rgb(106, 109, 107);
    color: white;
    border: none;
    font-size: 18px;
    /* box-shadow: 0 0 6px ; */
    cursor: pointer;
    border-radius: 5px;
     margin-left: 5px; 
    /* margin-top: -45px; */
    background-color: crimson;
    position: absolute;
}

#search-button:hover {
    opacity: 0.9;
}


.search-results {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    /* max-width: 1225px; */
    
    background-color: rgb(36, 33, 33);
    border-radius: 5px;
    /* margin-top: -1px; */
    /* margin-left: 40px; */
    
}

.search-result {
    margin-bottom: 60px;
    width: 300px;
    /* height: 100%; */
    border-radius: 5px;
    box-shadow: 0 0 6px black;
    background-color: rgb(7, 7, 7);
    overflow: hidden;
    
}

.search-result img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.search-result:hover img {
    opacity: 0.8;
}

.search-result a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(180, 173, 173);
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more-button {
    background-color: rgb(7, 110, 151);
    font-size: 18px;
    border: none;
    color: rgb(245, 245, 245);
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .search-results {
        padding: 20px;
    }

    .search-result {
        width: 45%;
    }
}

@media screen and (max-width:320px) {
.header-sub{
   width: 96%;
}
.header{
    width: 85% ;
}
h1{
  font-size: 25px;
  text-align: center;
  
}
.h2{
    height: 100px;
    width: 95%;
}
.form{
    width: 95%;
}
.label{
    display: flex;
}
.search-results{
    margin-top: 120px;
    width: 66%;
}

#search-input{
   width: 50%;
}
#search-button{
  width: 30%;
 padding: 10px;
  font-size: 15px;
  height: 65%;
}

}

@media screen and (max-width:425px) {
    .header-sub{
       width: 118%;
    }
    .header{
        width: 85% ;
    }
    h1{
      font-size: 25px;
      text-align: center;
      
    }
    .h2{
        height: 110px;
        width: 118%;
    }
    /* .form{
        width: 118%;
    } */

    form{
      margin-right: 140px;
    }
    .label{
        display: flex;
    }
    .search-results{
        margin-top: 100px;
        width: 95%;
        justify-content: space-between;
        padding: 10px;
    }
    
    #search-input{
       width: 80%;
    }
    #search-button{
      width: 25%;
     padding: 10px;
      font-size: 15px;
      height: 44%;
      margin-left: 5px;
    }

    .search-result{
        height: 300px;
        
    }

        
@keyframes animate {
    0% {
        width: 200px;
    }

    50% {
        width: 100px;
    }

    100% {
        width: 200px;
    }
}
    

    
    }